body{
    background-color: #f2f2f2;
}

h1,
h2{
    margin: 20px 50px;
    padding: 10px 20px;
}

h1{
        border-bottom: 2px solid ;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 50px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    background-color: white;
}

span{
    color: red;
    font-weight: bold;
}

.lulus{
    font-weight: bold;
}

.tableA{
    border-collapse: separate;
}


.tableA th{
    border: 1px solid black;
}


.tableC th, 
.tableB th{
    background-color: #207cca;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    color: white;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
